<ion-view view-title="Dashboard Home">
<ion-content >
    <div  class="bar-stable" style="margin-top: -50px;">
        <ion-tabs  class="tabs-striped tabs-icon-left tabs-top tabs-background-stable tabs-color-assertive">
            <ion-tab title="Events" icon="ion-android-home" href="#/tab/home">
                <ion-nav-view name="tab-home"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Filter" icon="ion-ios-color-filter-outline" href="#/tab/account">
                <ion-nav-view name="tab-home"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </div>
</ion-content>
    <!--<ion-content class="padding">-->

        <!--&lt;!&ndash;<div class="list card">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="item item-divider">Upcoming Events</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="item item-body">&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;There is a fire in <b>sector 3</b>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</ion-content>-->
</ion-view>