<ion-view view-title="Search">
    <ion-content>
        <ion-list class="">
            <!--<ion-toggle  ng-model="settings.enableFriends">-->
            <!--Enable Friends-->
            <!--</ion-toggle>-->
            <ion-toggle>
                <i class="icon icon-left ion-star"></i>
                Search by Popularity
            </ion-toggle>

            <label class="item item-input item-select">
                <i class="icon icon-left ion-location"></i>
                <div class="input-label">
                    Select Location
                </div>
                <select>
                    <option>Clifton</option>
                    <option selected>Defence</option>
                    <option>Gulshan</option>
                </select>
            </label>

        </ion-list>
    </ion-content>


</ion-view>