<div class="modal">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Filter Search</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <ion-list class="">
                <ion-toggle>
                    <i class="icon icon-left ion-star"></i>
                    Search by Popularity
                </ion-toggle>

                <label class="item item-input item-select">
                    <i class="icon icon-left ion-location"></i>
                    <div class="input-label">
                        Select Location
                    </div>
                    <select>
                        <option>Clifton</option>
                        <option selected>Defence</option>
                        <option>Gulshan</option>
                    </select>
                </label>

            </ion-list>
        </ion-content>
    </ion-modal-view>
</div>